@import "font.css";
body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

button {
  background: none;
  border: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  width: 1300px;
  padding: 0 10px;
  margin: 0 auto;
}

.d-flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.gray_btn {
  padding: 9px 15px;
  width: 165px;
  height: 36px;
  background: rgb(29, 29, 29);
  border-radius: 10px;
  font-weight: 600;
  font-size: 13px;
  line-height: 140%;
  color: #FFFFFF;
}

.dark-mode {
  position: fixed;
  width: 60px;
  height: 60px;
  right: 25px;
  bottom: 10%;
  background: rgba(7, 7, 7, 0.28);
  border-radius: 50px;
  padding: 5px;
  border: none;
}

.dark-mode:hover {
  background: rgb(45, 59, 102);
}

.section_title {
  position: relative;
  font-weight: 700;
  font-size: 42px;
  line-height: 140%;
  text-align: center;
  color: #FFFFFF;
  text-transform: uppercase;
  margin-top: 150px;
  margin-bottom: 100px;
}

.section_leaf-first {
  position: absolute;
  left: 440px;
  top: 20px;
}

.section_leaf-second {
  position: absolute;
  right: 440px;
  top: 20px;
}

.header {
  position: absolute;
  height: 80px;
  width: 100%;
  margin-top: 10px;
}
.header__title {
  font-weight: 600;
  font-size: 16px;
  line-height: 135%;
  color: #ffffff;
}
.header__title:not(:last-child) {
  margin-right: 50px;
}
.header__nav {
  padding: 30px;
  position: fixed;
  height: 100%;
  width: 200px;
  background: rgb(29, 29, 29);
  border-radius: 0 30px 30px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 1s;
}
.header__nav-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 135%;
  color: #ffffff;
  margin-bottom: 50px;
}

.hero {
  height: 100vh;
  width: 100%;
  background: linear-gradient(0deg, rgba(66, 63, 63, 0.45), rgba(169, 168, 168, 0.37)), url("../images/white_zal.png") no-repeat center/cover;
}
.hero .container {
  position: relative;
  height: 100vh;
}
.hero__info {
  text-align: center;
}
.hero__subtitle {
  text-transform: uppercase;
  position: relative;
  font-weight: 700;
  font-size: 30px;
  line-height: 140%;
  color: #FFFFFF;
}
.hero__leaf {
  text-transform: uppercase;
  position: absolute;
  left: 118px;
  top: 8px;
}
.hero__leaf-2 {
  position: absolute;
  right: 118px;
  top: 8px;
}
.hero__title {
  width: 99%;
  font-weight: 700;
  font-size: 70px;
  line-height: 140%;
  color: #FFFFFF;
}

.halls__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
.halls__block {
  position: relative;
  display: flex;
  border-radius: 10px;
  box-shadow: -42px -17px 100px -29px rgba(34, 60, 80, 0.28);
  cursor: pointer;
}
.halls__block:before {
  border-radius: 10px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: all 0.4s ease;
  content: "";
}
.halls__block:hover:before {
  opacity: 1;
}
.halls__block img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}
.halls__title {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 150px;
  text-align: center;
  font-weight: 700;
  font-size: 70px;
  line-height: 140%;
  color: #FFFFFF;
  transition: 0.4s;
  opacity: 0;
}
.halls__title:hover {
  opacity: 1;
}
.halls__form {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.halls__btn {
  color: #FFFFFF;
  font-weight: 700;
  line-height: 100%;
  font-size: 15px;
  background: rgb(134, 134, 134);
  width: 150px;
  height: 40px;
  border-radius: 10px;
  transition: 0.4s;
}
.halls__btn:hover {
  background: rgb(29, 29, 29);
  color: #FFFFFF;
}

.review .section_leaf-first {
  left: 490px;
}
.review .section_leaf-second {
  right: 490px;
}
.review__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
.review__card {
  padding: 30px;
  width: 100%;
  height: 350px;
  background: rgb(29, 29, 29);
  border-radius: 30px;
  filter: brightness(40%);
  transition: 0.6s;
  cursor: pointer;
}
.review__card:hover {
  filter: brightness(100%);
}
.review__title {
  z-index: 2;
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  color: rgb(255, 255, 255);
  margin-bottom: 30px;
}
.review__desc {
  z-index: 1;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  color: rgb(231, 231, 231);
}
.review__desc:not(:last-child) {
  margin-bottom: 20px;
}

.about {
  margin-bottom: 200px;
}
.about .section_leaf-first {
  left: 420px;
}
.about .section_leaf-second {
  right: 420px;
}
.about__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  grid-row-gap: 50px;
  grid-column-gap: 84px;
}
.about__img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 50px;
}
.about__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
  margin-bottom: 50px;
}
.about__desc {
  font-weight: 300;
  font-size: 16px;
  line-height: 140%;
  margin-bottom: 20px;
}

.contact__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.contact__map {
  width: 856px;
  height: 600px;
}
.contact__card {
  padding: 35px 45px;
  width: 400px;
  height: 300px;
  background: #018ABE;
  border-radius: 20px;
  margin-bottom: 25px;
}
.contact__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 140%;
  color: #FFFFFF;
  margin-bottom: 20px;
}
.contact__subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 135%;
  color: #FFFFFF;
  margin-bottom: 20px;
}
.contact__subtitle svg {
  margin-right: 20px;
}
.contact__btn {
  width: 155px;
  height: 36px;
  background: #FFFFFF;
  color: #018ABE;
  font-weight: 600;
  font-size: 13px;
  line-height: 140%;
  transition: 0.6s;
}
.contact__btn:hover {
  background: #018ABE;
  border: #018ABE 1px solid;
  color: #FFFFFF;
}

/*# sourceMappingURL=style.css.map */
