@import "font.css";
html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

button {
  background: none;
  border: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style-type: none;
}

.container {
  width: 1300px;
  padding: 0 10px;
  margin: 0 auto;
}

.d-flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.flex-column {
  flex-direction: column;
}

.section_title {
  position: relative;
  font-weight: 700;
  font-size: 42px;
  line-height: 140%;
  text-align: center;
  color: #FFFFFF;
  text-transform: uppercase;
  margin-top: 150px;
  margin-bottom: 50px;
}

.section_leaf-first {
  position: absolute;
  left: 440px;
  top: 20px;
}

.section_leaf-second {
  position: absolute;
  right: 440px;
  top: 20px;
}

.background-linear {
  background: linear-gradient(0deg, rgba(66, 63, 63, 0.45), rgba(169, 168, 168, 0.37));
}

.checkbox {
  margin: 20px 0;
}
.checkbox .checkbox-label {
  position: relative;
  display: block;
  height: 20px;
  width: 44px;
  background: rgba(252, 252, 252, 0.85);
  border-radius: 100px;
  cursor: pointer;
  transition: all 300ms ease;
}
.checkbox .checkbox-label:after {
  position: absolute;
  left: -2px;
  top: -3px;
  display: block;
  width: 26px;
  height: 26px;
  border-radius: 100px;
  background: white;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.05);
  content: "";
  transition: all 300ms ease;
}
.checkbox .checkbox-label:active:after {
  transform: scale(1.15, 0.85);
}
.checkbox .checkbox-input {
  display: none;
}
.checkbox .checkbox-input:checked ~ label {
  background: rgba(52, 52, 52, 0.53);
}
.checkbox .checkbox-input:checked ~ label:after {
  left: 20px;
  background: black;
}
.checkbox .checkbox-input:disabled ~ label {
  background: white;
  pointer-events: none;
}
.checkbox .checkbox-input:disabled ~ label:after {
  background: white;
}

.header {
  z-index: 50;
  position: fixed;
  height: 80px;
  width: 100%;
  background: rgba(0, 0, 0, 0.7607843137);
  padding: 10px;
}
.header__menu_icon {
  display: none;
}
.header__menu_list {
  display: flex;
}
.header__menu_link:not(:last-child) {
  margin-right: 50px;
}
.header__logo {
  z-index: 5;
}
.header__title {
  font-weight: 600;
  font-size: 16px;
  line-height: 135%;
  color: #ffffff;
}
.header__menu {
  transition: 0.6s;
}

.image-slider {
  padding: 30px 0 70px 0;
}

.image-slider__image {
  text-align: center;
  background: linear-gradient(0deg, rgb(66, 63, 63), rgba(169, 168, 168, 0.37));
}

.image-slider__image img {
  max-width: 100%;
}

.hero {
  z-index: 2;
  height: 100vh;
  width: 100%;
}
.hero__subtitle {
  top: 100px;
  text-shadow: 11px 7px 8px #333333;
  text-transform: uppercase;
  position: absolute;
  font-weight: 700;
  font-size: 30px;
  line-height: 140%;
  color: #FFFFFF;
}
.hero__leaf {
  text-transform: uppercase;
  position: absolute;
  left: 118px;
  top: 8px;
}
.hero__leaf-2 {
  position: absolute;
  right: 118px;
  top: 8px;
}
.hero__title {
  position: absolute;
  text-shadow: 11px 7px 8px #333333;
  width: 99%;
  font-weight: 700;
  font-size: 90px;
  line-height: 140%;
  color: #FFFFFF;
}

.halls__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
.halls__block {
  position: relative;
  display: flex;
  border-radius: 10px;
  box-shadow: -42px -17px 100px -29px rgba(34, 60, 80, 0.28);
  cursor: pointer;
}
.halls__block:before {
  border-radius: 10px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: all 0.4s ease;
  content: "";
}
.halls__block:hover:before {
  opacity: 1;
}
.halls__block img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}
.halls__title {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 150px;
  text-align: center;
  font-weight: 700;
  font-size: 70px;
  line-height: 140%;
  color: #FFFFFF;
  transition: 0.4s;
  opacity: 0;
}
.halls__title:hover {
  opacity: 1;
}
.halls__form {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.halls__btn {
  color: #FFFFFF;
  font-weight: 700;
  line-height: 100%;
  font-size: 20px;
  background: rgb(134, 134, 134);
  width: 250px;
  height: 60px;
  border-radius: 10px;
  transition: 0.4s;
}
.halls__btn:hover {
  background: rgb(29, 29, 29);
  color: #FFFFFF;
}

.review .section_leaf-first {
  left: 490px;
}
.review .section_leaf-second {
  right: 490px;
}
.review__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
.review__card {
  padding: 30px;
  width: 100%;
  height: 350px;
  background: rgb(29, 29, 29);
  border-radius: 30px;
  filter: brightness(40%);
  transition: 0.6s;
  cursor: pointer;
}
.review__card:hover {
  filter: brightness(100%);
}
.review__title {
  z-index: 2;
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  color: rgb(255, 255, 255);
  margin-bottom: 30px;
}
.review__desc {
  z-index: 1;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  color: rgb(231, 231, 231);
}
.review__desc:not(:last-child) {
  margin-bottom: 20px;
}

.about {
  margin-bottom: 100px;
}
.about .section_leaf-first {
  left: 420px;
}
.about .section_leaf-second {
  right: 420px;
}
.about__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  grid-row-gap: 30px;
  grid-column-gap: 84px;
}
.about__img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 50px;
}
.about__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
  margin-bottom: 30px;
}
.about__desc {
  font-weight: 300;
  font-size: 16px;
  line-height: 140%;
  margin-bottom: 10px;
}

.contact__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.contact__map-frame {
  width: 95%;
  height: 95%;
}
.contact__map {
  width: 856px;
  height: 600px;
}
.contact__card {
  padding: 35px 45px;
  width: 400px;
  height: 300px;
  background: #018ABE;
  border-radius: 20px;
  margin-bottom: 25px;
}
.contact__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 140%;
  color: #FFFFFF;
  margin-bottom: 20px;
}
.contact__subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 135%;
  color: #FFFFFF;
  margin-bottom: 20px;
}
.contact__subtitle svg {
  margin-right: 20px;
}
.contact__btn {
  width: 155px;
  height: 36px;
  background: #FFFFFF;
  color: #018ABE;
  font-weight: 600;
  font-size: 13px;
  line-height: 140%;
  transition: 0.6s;
}
.contact__btn:hover {
  background: #018ABE;
  border: #018ABE 1px solid;
  color: #FFFFFF;
}

.footer {
  background: #111111;
  height: 100%;
  padding: 90px;
}
.footer__logo {
  margin-right: 300px;
}
.footer__logo .footer__desc:not(:last-child) {
  margin-right: 10px;
}
.footer__menu {
  display: flex;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 110px;
}
.footer__title {
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  color: #FFFFFF;
  margin-bottom: 30px;
}
.footer__subtitle {
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
  color: #FFFFFF;
  margin-bottom: 20px;
}
.footer__desc {
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: rgba(255, 255, 255, 0.6);
}
.footer__nav {
  display: flex;
  flex-direction: column;
}
.footer__nav .footer__desc {
  margin-bottom: 10px;
}

.header__halls {
  padding: 20px;
  height: 100px;
  width: 100%;
  margin-bottom: 50px;
  box-shadow: 0px 21px 45px 2px rgba(34, 60, 80, 0.2);
  background: #2a2a2a;
}

.header__link {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 50px;
  line-height: 100%;
}

.studios {
  margin-bottom: 19%;
}
.studios .container {
  width: 98%;
}
.studios__navbar {
  height: 100%;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.studios__input {
  margin-bottom: 30px;
}
.studios__checkbox {
  cursor: pointer;
  line-height: 1;
  margin: 0.25em 0;
  color: rgba(42, 42, 42, 0.76);
  font-weight: 500;
}
.studios__halls {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}
.studios__studios .studios__block {
  box-shadow: none;
}
.studios__title {
  font-weight: 700;
  font-size: 16px;
  color: #333333;
  margin-bottom: 10px;
}
.studios__halls .halls__title {
  font-size: 50px;
  padding-top: 120px;
}

/*# sourceMappingURL=style.css.map */
