@import "font.css";
//Basic configuration
body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

button {
  background: none;
  border: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

//Unique settings
.container {
  width: 1300px;
  padding: 0 10px;
  margin: 0 auto;
}

.d-flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.dark-mode {
  position: fixed;
  width: 60px;
  height: 60px;
  right: 25px;
  bottom: 10%;
  background: rgba(7, 7, 7, 0.28);
  border-radius: 50px;
  padding: 5px;
  border: none;
}

.dark-mode:hover {
  background: rgb(45, 59, 102);
}

.flex-column {
  flex-direction: column;
}

.section_title {
  position: relative;
  font-weight: 700;
  font-size: 42px;
  line-height: 140%;
  text-align: center;
  color: #FFFFFF;
  text-transform: uppercase;
  margin-top: 150px;
  margin-bottom: 100px;
}

.section_leaf-first {
  position: absolute;
  left: 440px;
  top: 20px;

}

.section_leaf-second {
  position: absolute;
  right: 440px;
  top: 20px;
}


//Header
.header {
  z-index: 1;
  position: absolute;
  height: 80px;
  width: 100%;
  margin-top: 10px;

  &__title {
    font-weight: 600;
    font-size: 16px;
    line-height: 135%;
    color: #ffffff;

  }

  &__menu {
    transition: 0.6s;
  }

  &__title:not(:last-child) {
    margin-right: 50px;
  }

  &__nav {
    padding: 30px;
    position: fixed;
    height: 100%;
    width: 200px;
    background: rgb(29, 29, 29);
    border-radius: 0 30px 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1s;
  }

  &__nav-title {

    font-weight: 700;
    font-size: 24px;
    line-height: 135%;
    color: #ffffff;
    margin-bottom: 50px;
  }

}

//Hero section
.hero {
  z-index: 2;
  height: 100vh;
  width: 100%;
  background: linear-gradient(0deg, rgba(66, 63, 63, 0.45), rgba(169, 168, 168, 0.37)), url("../images/white_zal.png") no-repeat center/cover;

  & .container {
    position: relative;
    height: 100vh;
  }

  &__info {

    text-align: center;
  }

  &__subtitle {
    text-shadow: 11px 7px 8px #333333;
    text-transform: uppercase;
    position: relative;
    font-weight: 700;
    font-size: 30px;
    line-height: 140%;
    color: #FFFFFF;
  }

  &__leaf {
    text-transform: uppercase;
    position: absolute;
    left: 118px;
    top: 8px;
  }

  &__leaf-2 {
    position: absolute;
    right: 118px;
    top: 8px;
  }

  &__title {
    text-shadow: 11px 7px 8px #333333;
    width: 99%;
    font-weight: 700;
    font-size: 90px;
    line-height: 140%;
    color: #FFFFFF;
  }
}

//Halls section
.halls {

  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }

  &__block {
    position: relative;
    display: flex;
    border-radius: 10px;
    box-shadow: -42px -17px 100px -29px rgba(34, 60, 80, 0.28);
    cursor: pointer;
  }

  &__block:before {
    border-radius: 10px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: all .4s ease;
    content: "";
  }

  &__block:hover:before {
    opacity: 1;
  }

  &__block img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
  }

  &__title {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 150px;
    text-align: center;
    font-weight: 700;
    font-size: 70px;
    line-height: 140%;
    color: #FFFFFF;
    transition: 0.4s;
    opacity: 0;

  }

  &__title:hover {
    opacity: 1;
  }

  &__form {
    display: flex;
    justify-content: center;
    margin-top: 100px;
  }

  &__btn {
    color: #FFFFFF;
    font-weight: 700;
    line-height: 100%;
    font-size: 15px;
    background: rgb(134, 134, 134);
    width: 150px;
    height: 40px;
    border-radius: 10px;
    transition: 0.4s;
  }

  &__btn:hover {
    background: rgb(29, 29, 29);
    color: #FFFFFF;
  }
}

//Review section
.review {
  .section_leaf-first {
    left: 490px;
  }

  .section_leaf-second {
    right: 490px
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;

  }

  &__card {
    padding: 30px;
    width: 100%;
    height: 350px;
    background: rgb(29, 29, 29);
    border-radius: 30px;
    filter: brightness(40%);
    transition: 0.6s;
    cursor: pointer;
  }

  &__card:hover {
    filter: brightness(100%);
  }


  &__title {
    z-index: 2;
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    color: rgb(255, 255, 255);
    margin-bottom: 30px;
  }

  &__desc {
    z-index: 1;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    color: rgb(231, 231, 231);
  }

  &__desc:not(:last-child) {
    margin-bottom: 20px;
  }
}

//ABOUT SECTION
.about {
  margin-bottom: 200px;

  .section_leaf-first {
    left: 420px;
  }

  .section_leaf-second {
    right: 420px
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    grid-row-gap: 50px;
    grid-column-gap: 84px;
  }

  &__img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 50px;
  }

  &__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;

    margin-bottom: 50px;
  }

  &__desc {
    font-weight: 300;
    font-size: 16px;
    line-height: 140%;

    margin-bottom: 20px;
  }
}

//Contact section
.contact {
  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

  }

  &__map {
    width: 856px;
    height: 600px;
  }

  &__card {
    padding: 35px 45px;
    width: 400px;
    height: 300px;
    background: #018ABE;
    border-radius: 20px;
    margin-bottom: 25px;
  }

  &__title {
    font-weight: 700;
    font-size: 22px;
    line-height: 140%;
    color: #FFFFFF;
    margin-bottom: 20px;
  }

  &__subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 135%;
    color: #FFFFFF;
    margin-bottom: 20px;
  }

  &__subtitle svg {

    margin-right: 20px;
  }

  &__btn {
    width: 155px;
    height: 36px;
    background: #FFFFFF;
    color: #018ABE;
    font-weight: 600;
    font-size: 13px;
    line-height: 140%;
    transition: 0.6s;
  }

  &__btn:hover {
    background: #018ABE;
    border: #018ABE 1px solid;
    color: #FFFFFF;

  }
}

//Footer
.footer {
  background: #111111;
  height: 100%;
  padding: 90px;

  &__logo {
    margin-right: 300px;
  }

  &__logo &__desc:not(:last-child) {
    margin-right: 10px;
  }

  &__menu {
    display: flex;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 110px;
  }

  &__title {
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    color: #FFFFFF;
    margin-bottom: 30px;
  }

  &__subtitle {
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    color: #FFFFFF;
    margin-bottom: 20px;
  }

  &__desc {
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: rgba(255, 255, 255, 0.6);
  }

  &__nav {
    display: flex;
    flex-direction: column;
  }

  &__nav &__desc {
    margin-bottom: 10px;
  }
}

//Halls html
.header__halls {
  padding: 20px;
  height: 100px;
  width: 100%;
  margin-bottom: 50px;
  box-shadow: 0px 21px 45px 2px rgba(34, 60, 80, 0.2);
  background: #2a2a2a;
}
.header__link {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 50px;
  line-height: 100%;
}

//Halls section
.studios {
  & .container {
    width: 98%;
  }

  &__navbar {
    height: 100%;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;

  }

  &__input {
    margin-bottom: 30px;
  }

  &__checkbox {
    cursor: pointer;
    line-height: 1;
    margin: 0.25em 0;
    color: rgba(42, 42, 42, 0.76);
    font-weight: 500;
  }

  &__halls {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  &__studios &__block {
    box-shadow: none;
  }

  &__title {
    font-weight: 700;
    font-size: 16px;
    color: #333333;
    margin-bottom: 10px ;
  }
&__halls .halls__title{
  font-size: 50px;
  padding-top: 120px;
}
}